In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

# Data Analysis

Firstly, we load the csv files created before.

In [2]:
cars_df = pd.read_csv("../data/cars_data.csv", sep=";")
brands_rank = pd.read_csv("../data/brands_rank.csv", sep=";")

Now, we can see what is their shape and then, showing a few rows in order to watch the appearance of each data frame.

In [3]:
np.shape(cars_df)

(100899, 36)

In [4]:
np.shape(brands_rank)

(54, 2)

In [5]:
brands_rank.head()

           brand  score
0        ferrari  1,570
1            bmw  1,365
2  mercedes-benz  1,295
3           audi  1,260
4    lamborghini  1,190

In [6]:
brands_rank.tail()

           brand score
49      vauxhall    95
50        loncin    55
51  austin rover    50
52      malaguti    20
53          lada    15

The next step is cleaning the dataset and changing the types of each column.

# Data cleaning and transformation

In this section we are going to clean the data frame of null values, ...

## NaN' cleaning

We start looking for NA's.

In [7]:
cars_df.apply(lambda x: x.isnull().sum())

Title                 0
Brand                 0
Province              0
Price                 0
Year                  0
Kms                   0
Fuel                  0
Type of Gears        12
Seller                0
Guarantee             0
Colour            13495
Boot Capacity         0
Length                0
Height                0
Width                 0
Doors                 0
Vacancies             0
Tank                  0
Weight                0
Max Weight            0
Type                  0
Max Speed             0
Comb Fuel             0
Urban Use             0
Extraurban Use        0
Aceleration           0
Autonomy              0
CO2 Emissions         0
Output                0
Cubic Capacity        0
Cylinders             0
Max Par               0
Gears                 0
Transmission         12
Traction              0
Url                   0
dtype: int64

We can see that there are some NaN values in our data frame. For that reason, we must decide what we do with them. In our case, because of the column 'Colour' has a lot of NaN's, we have decided replace that values for 'unknown' which is more elegant. By contrast, the rest of NaN's are going to be deleted since they are only 12 registers.

Firstly, we start with colour column. As I said before, we are going to replace the NaN value for 'unknown'.

In [8]:
cars_df["Colour"].fillna("unknown", inplace=True)

Then, we are going to watch what values contains the 'Autonomy' column.

In [9]:
set(cars_df["Autonomy"])

{0}

Because of all the values are equal to zero, we are going to drop this column.

In [10]:
cars_df.drop("Autonomy", axis=1, inplace=True)

We can see that effectively the Colour NaN's values have been deleted.

In [11]:
cars_df.apply(lambda x: x.isnull().sum())

Title              0
Brand              0
Province           0
Price              0
Year               0
Kms                0
Fuel               0
Type of Gears     12
Seller             0
Guarantee          0
Colour             0
Boot Capacity      0
Length             0
Height             0
Width              0
Doors              0
Vacancies          0
Tank               0
Weight             0
Max Weight         0
Type               0
Max Speed          0
Comb Fuel          0
Urban Use          0
Extraurban Use     0
Aceleration        0
CO2 Emissions      0
Output             0
Cubic Capacity     0
Cylinders          0
Max Par            0
Gears              0
Transmission      12
Traction           0
Url                0
dtype: int64

Now, we are going to remove the registers of the column 'Type of Gears' which contain the NaN's.

In [12]:
array_nans = cars_df["Type of Gears"].isnull()

for i,val in enumerate(array_nans):
    if val == True:
        cars_df = cars_df.drop(i)

In [13]:
cars_df.apply(lambda x: x.isnull().sum())

Title             0
Brand             0
Province          0
Price             0
Year              0
Kms               0
Fuel              0
Type of Gears     0
Seller            0
Guarantee         0
Colour            0
Boot Capacity     0
Length            0
Height            0
Width             0
Doors             0
Vacancies         0
Tank              0
Weight            0
Max Weight        0
Type              0
Max Speed         0
Comb Fuel         0
Urban Use         0
Extraurban Use    0
Aceleration       0
CO2 Emissions     0
Output            0
Cubic Capacity    0
Cylinders         0
Max Par           0
Gears             0
Transmission      0
Traction          0
Url               0
dtype: int64

We can see that the null values in the data frame have been removed.

## Deleting duplicates

The next step is deleting the duplicates of the data frame.

We start counting the duplicates in order to be aware of the situation.

In [14]:
#Counting the number of duplicates
cars_df["is_duplicated"] = cars_df.duplicated()
number_of_duplicates = 0

for var in cars_df["is_duplicated"]:
    if var == True:
        number_of_duplicates += 1

print("There are %d duplicated advertisements" %number_of_duplicates)

There are 15328 duplicated advertisements

And finally we remove all of them.

In [15]:
#Deleting the duplicates and the additional column created before
cars_df = cars_df[cars_df["is_duplicated"] == False]
cars_df = cars_df.drop("is_duplicated", axis=1)
np.shape(cars_df)

(85559, 35)

## Changing the data types

The next step is changing the types of some columns.

We start watching what is the type of each of them.

In [16]:
for col in cars_df.columns:
    print(cars_df[col].describe(),"\n\n")

count                85559
unique               18586
top       Bmw Serie 1 116d
freq                   494
Name: Title, dtype: object


count     85559
unique       71
top         Bmw
freq       8095
Name: Brand, dtype: object


count       85559
unique         52
top       Madrid
freq        20903
Name: Province, dtype: object


count      85559
unique      4222
top       8.500€
freq         885
Name: Price, dtype: object


count     85559
unique      477
top        2007
freq       2226
Name: Year, dtype: object


count     85559
unique    24146
top        0 km
freq       1389
Name: Kms, dtype: object


count      85559
unique         4
top       Diesel
freq       62062
Name: Fuel, dtype: object


count      85559
unique         7
top       Manual
freq       62534
Name: Type of Gears, dtype: object


count           85559
unique              2
top       Profesional
freq            64545
Name: Seller, dtype: object


count     85559
unique        2
top          No
freq      50638
Name: Guarantee, dtype: object


count      85559
unique      3184
top       Blanco
freq       16854
Name: Colour, dtype: object


count     85559
unique      454
top         0 l
freq      17408
Name: Boot Capacity, dtype: object


count      85559
unique       286
top       426 cm
freq        2272
Name: Length, dtype: object


count      85559
unique       163
top       146 cm
freq        6978
Name: Height, dtype: object


count      85559
unique        82
top       181 cm
freq        7728
Name: Width, dtype: object


count    85559.000000
mean         4.419442
std          0.914254
min          0.000000
25%          4.000000
50%          5.000000
75%          5.000000
max          5.000000
Name: Doors, dtype: float64


count    85559.000000
mean         4.881170
std          0.855655
min          1.000000
25%          5.000000
50%          5.000000
75%          5.000000
max         14.000000
Name: Vacancies, dtype: float64


count     85559
unique       76
top        50 l
freq      10262
Name: Tank, dtype: object


count        85559
unique        1337
top       1.365 kg
freq          1079
Name: Weight, dtype: object


count        85559
unique        1032
top       1.820 kg
freq          1292
Name: Max Weight, dtype: object


count       85559
unique         15
top       Berlina
freq        42944
Name: Type, dtype: object


count      85559
unique       203
top       0 km/h
freq       12197
Name: Max Speed, dtype: object


count     85559
unique      173
top       4,5 l
freq       4337
Name: Comb Fuel, dtype: object


count     85559
unique      239
top       4,6 l
freq       2928
Name: Urban Use, dtype: object


count     85559
unique      125
top       4,1 l
freq       4600
Name: Extraurban Use, dtype: object


count     85559
unique      203
top       0,0 s
freq       5128
Name: Aceleration, dtype: object


count       85559
unique        319
top       0 gr/m3
freq        11067
Name: CO2 Emissions, dtype: object


count      85559
unique       373
top       150 cv
freq        7081
Name: Output, dtype: object


count         85559
unique          568
top       1.598 cm3
freq           8795
Name: Cubic Capacity, dtype: object


count          85559
unique            18
top       4 en línea
freq           69019
Name: Cylinders, dtype: object


count      85559
unique       387
top       320 Nm
freq        8665
Name: Max Par, dtype: object


count    85559.000000
mean         5.815098
std          0.942718
min          1.000000
25%          5.000000
50%          6.000000
75%          6.000000
max         10.000000
Name: Gears, dtype: float64


count      85559
unique         7
top       Manual
freq       62535
Name: Transmission, dtype: object


count         85559
unique            7
top       Delantera
freq          61453
Name: Traction, dtype: object


count                                                 85559
unique                                                85554
top       https://www.coches.com/coches-segunda-mano/oca...
freq                                                      2
Name: Url, dtype: object

Once we have seen the previous information, we must change the type of some columns and maybe creating new columns and dropping others.

### Price column

In [17]:
cars_df["Price (€)"] = cars_df["Price"].apply(lambda x: float(x.split("€")[0].replace(".", "")))
cars_df = cars_df.drop("Price", axis=1)
cars_df["Price (€)"].head()

0      900.0
1    13200.0
2    16900.0
3    21400.0
4    12900.0
Name: Price (€), dtype: float64

### Year column

In [18]:
cars_df["Year"].head(10)

0    11/1998
1    04/2014
2    09/2014
3    02/2015
4    11/2012
5    01/2013
6    05/2015
7    08/2016
8    09/2015
9    07/2015
Name: Year, dtype: object

We can see that the format is not the same in the rows.

In [19]:
cars_df["Year"] = cars_df["Year"].apply(lambda x: x.split("/"))

In [20]:
# Here we store the Year in the column with the correct format
years = []

for val in cars_df["Year"]:
    if len(val) == 1: 
        years.append(val[0])
    else:
        years.append(val[1])

In [21]:
cars_df["Year"] = pd.to_numeric(years)

### Kms column

In [22]:
cars_df["Kms"].head()

0    182.000 km
1     23.060 km
2      6.713 km
3    117.932 km
4     72.158 km
Name: Kms, dtype: object

In [23]:
cars_df["Kms"] = cars_df["Kms"].apply(lambda x: x.split()[0])
cars_df["Kms"] = pd.to_numeric(cars_df["Kms"].apply(lambda x: x.replace(".", "")))

In [24]:
cars_df["Kms"].head(10)

0    182000
1     23060
2      6713
3    117932
4     72158
5    122311
6     68590
7     33225
8     27580
9     44383
Name: Kms, dtype: int64

### Boot Capacity column

In [25]:
cars_df["Boot Capacity"].head()

0      0 l
1    442 l
2    155 l
3    490 l
4    380 l
Name: Boot Capacity, dtype: object

In [26]:
cars_df["Boot Capacity (l)"] = pd.to_numeric(cars_df["Boot Capacity"].apply(lambda x: x.split()[0]))
cars_df = cars_df.drop("Boot Capacity", axis=1)

In [27]:
cars_df.columns

Index(['Title', 'Brand', 'Province', 'Year', 'Kms', 'Fuel', 'Type of Gears',
       'Seller', 'Guarantee', 'Colour', 'Length', 'Height', 'Width', 'Doors',
       'Vacancies', 'Tank', 'Weight', 'Max Weight', 'Type', 'Max Speed',
       'Comb Fuel', 'Urban Use', 'Extraurban Use', 'Aceleration',
       'CO2 Emissions', 'Output', 'Cubic Capacity', 'Cylinders', 'Max Par',
       'Gears', 'Transmission', 'Traction', 'Url', 'Price (€)',
       'Boot Capacity (l)'],
      dtype='object')

### Lenght column

In [28]:
cars_df["Length"].head()

0    456 cm
1    430 cm
2    446 cm
3    464 cm
4    431 cm
Name: Length, dtype: object

In [29]:
cars_df["Length (cm)"] = pd.to_numeric(cars_df["Length"].apply(lambda x: x.split()[0]))
cars_df = cars_df.drop("Length", axis=1)

### Height column

In [30]:
cars_df["Height"].head()

0    140 cm
1    162 cm
2    163 cm
3    171 cm
4    143 cm
Name: Height, dtype: object

In [31]:
cars_df["Height (cm)"] = pd.to_numeric(cars_df["Height"].apply(lambda x: x.split()[0]))
cars_df = cars_df.drop("Height", axis=1)

### Width column

In [32]:
cars_df["Width"].head()

0    177 cm
1    177 cm
2    179 cm
3    189 cm
4    179 cm
Name: Width, dtype: object

In [33]:
cars_df["Width (cm)"] = pd.to_numeric(cars_df["Width"].apply(lambda x: x.split()[0]))
cars_df = cars_df.drop("Width", axis=1)

In [34]:
cars_df.columns

Index(['Title', 'Brand', 'Province', 'Year', 'Kms', 'Fuel', 'Type of Gears',
       'Seller', 'Guarantee', 'Colour', 'Doors', 'Vacancies', 'Tank', 'Weight',
       'Max Weight', 'Type', 'Max Speed', 'Comb Fuel', 'Urban Use',
       'Extraurban Use', 'Aceleration', 'CO2 Emissions', 'Output',
       'Cubic Capacity', 'Cylinders', 'Max Par', 'Gears', 'Transmission',
       'Traction', 'Url', 'Price (€)', 'Boot Capacity (l)', 'Length (cm)',
       'Height (cm)', 'Width (cm)'],
      dtype='object')

### Tank column

In [35]:
cars_df["Tank"].head()

0     0 l
1    63 l
2    60 l
3    70 l
4    50 l
Name: Tank, dtype: object

It is necessary to create the next function because we can appreciate that many values contains the unit of measure and we can't change the type of the value.

In [36]:
def change_value(serie):
    result = []
    for val in serie:
        if len(val) == 1:
            result.append(0)
        else:
            result.append(pd.to_numeric(val[0]))
    return result

In [37]:
cars_df["Tank (l)"] = cars_df["Tank"].apply(lambda x: x.split())
cars_df["Tank (l)"] = change_value(cars_df["Tank (l)"])

cars_df = cars_df.drop("Tank", axis=1)

### Weight column

In [38]:
cars_df["Weight (kg)"] = pd.to_numeric(cars_df["Weight"].apply(lambda x: x.split()[0]))
cars_df = cars_df.drop("Weight", axis=1)

### Max Weight column

In [39]:
cars_df["Max Weight"].head()

0    1.875 kg
1    1.870 kg
2    2.260 kg
3    2.300 kg
4    1.820 kg
Name: Max Weight, dtype: object

In [40]:
cars_df["Max Weight (kg)"] = pd.to_numeric(cars_df["Max Weight"].apply(lambda x: x.split()[0]))
cars_df = cars_df.drop("Max Weight", axis=1)

In [41]:
cars_df["Max Weight (kg)"].head()

0    1.875
1    1.870
2    2.260
3    2.300
4    1.820
Name: Max Weight (kg), dtype: float64

### Max Speed column

In [42]:
cars_df["Max Speed"].head()

0      0 km/h
1    183 km/h
2    195 km/h
3    210 km/h
4    195 km/h
Name: Max Speed, dtype: object

In [43]:
cars_df["Max Speed (km/h)"] = cars_df["Max Speed"].apply(lambda x: x.split())
cars_df["Max Speed (km/h)"] = change_value(cars_df["Max Speed (km/h)"])

cars_df = cars_df.drop("Max Speed", axis=1)

In [44]:
cars_df["Max Speed (km/h)"].head()

0      0
1    183
2    195
3    210
4    195
Name: Max Speed (km/h), dtype: int64

### Comb Fuel column

In [45]:
cars_df["Comb Fuel"].head()

0    9,1 l
1    5,9 l
2    6,4 l
3    4,5 l
4    3,8 l
Name: Comb Fuel, dtype: object

In [46]:
cars_df["Comb Fuel (l)"] = cars_df["Comb Fuel"].apply(lambda x: x.replace(",",".").split())
cars_df["Comb Fuel (l)"] = change_value(cars_df["Comb Fuel (l)"])

cars_df = cars_df.drop("Comb Fuel", axis=1)

In [47]:
cars_df["Comb Fuel (l)"].head()

0    9.1
1    5.9
2    6.4
3    4.5
4    3.8
Name: Comb Fuel (l), dtype: float64

### Urban Use column

In [48]:
cars_df["Urban Use"].head()

0    11,9 l
1     7,5 l
2     8,0 l
3     4,9 l
4     4,6 l
Name: Urban Use, dtype: object

In [49]:
cars_df["Urban Use (l)"] = cars_df["Urban Use"].apply(lambda x: x.replace(",",".").split())
cars_df["Urban Use (l)"] = change_value(cars_df["Urban Use (l)"])

cars_df = cars_df.drop("Urban Use", axis=1)

In [50]:
cars_df["Urban Use (l)"].head()

0    11.9
1     7.5
2     8.0
3     4.9
4     4.6
Name: Urban Use (l), dtype: float64

### Extraurban Use column

In [51]:
cars_df["Extraurban Use"].head()

0    6,4 l
1    4,9 l
2    5,5 l
3    4,3 l
4    3,3 l
Name: Extraurban Use, dtype: object

In [52]:
cars_df["Extraurban Use (l)"] = cars_df["Extraurban Use"].apply(lambda x: x.replace(",",".").split())
cars_df["Extraurban Use (l)"] = change_value(cars_df["Extraurban Use (l)"])

cars_df = cars_df.drop("Extraurban Use", axis=1)

In [53]:
cars_df["Extraurban Use (l)"].head()

0    6.4
1    4.9
2    5.5
3    4.3
4    3.3
Name: Extraurban Use (l), dtype: float64

### Aceleration column

In [54]:
cars_df["Aceleration"].head()

0    12,4 s
1    11,4 s
2    10,1 s
3     8,5 s
4    10,9 s
Name: Aceleration, dtype: object

In [55]:
cars_df["Aceleration 0-100 (s)"] = cars_df["Aceleration"].apply(lambda x: x.replace(",",".").split())
cars_df["Aceleration 0-100 (s)"] = change_value(cars_df["Aceleration 0-100 (s)"])

cars_df = cars_df.drop("Aceleration", axis=1)

In [56]:
cars_df["Aceleration 0-100 (s)"].head()

0    12.4
1    11.4
2    10.1
3     8.5
4    10.9
Name: Aceleration 0-100 (s), dtype: float64

### CO2 Emissions column

In [57]:
cars_df["CO2 Emissions"].head()

0      0 gr/m3
1    135 gr/m3
2    169 gr/m3
3    117 gr/m3
4     99 gr/m3
Name: CO2 Emissions, dtype: object

In [58]:
cars_df["CO2 Emissions (gr/m3)"] = cars_df["CO2 Emissions"].apply(lambda x: x.split())
cars_df["CO2 Emissions (gr/m3)"] = change_value(cars_df["CO2 Emissions (gr/m3)"])

cars_df = cars_df.drop("CO2 Emissions", axis=1)

In [59]:
cars_df["CO2 Emissions (gr/m3)"].head()

0      0
1    135
2    169
3    117
4     99
Name: CO2 Emissions (gr/m3), dtype: int64

### Output column

In [60]:
cars_df["Output"].head()

0    112 cv
1    117 cv
2    150 cv
3    181 cv
4    105 cv
Name: Output, dtype: object

In [61]:
cars_df["Output (cv)"] = pd.to_numeric(cars_df["Output"].apply(lambda x: x.split()[0]))

cars_df = cars_df.drop("Output", axis=1)

In [62]:
cars_df["Output (cv)"].head()

0    112
1    117
2    150
3    181
4    105
Name: Output (cv), dtype: int64

### Cubic Capacity column

In [63]:
cars_df["Cubic Capacity"].head()

0    1.761 cm3
1    1.590 cm3
2    2.231 cm3
3    1.969 cm3
4    1.598 cm3
Name: Cubic Capacity, dtype: object

In [64]:
cars_df["Cubic Capacity (cm3)"] = pd.to_numeric(cars_df["Cubic Capacity"].apply(lambda x: x.replace(".", "").split()[0]))

cars_df = cars_df.drop("Cubic Capacity", axis=1)

In [65]:
cars_df["Cubic Capacity (cm3)"].head()

0    1761
1    1590
2    2231
3    1969
4    1598
Name: Cubic Capacity (cm3), dtype: int64

### Max Par column

In [66]:
cars_df["Max Par"].head()

0    155 Nm
1    270 Nm
2    340 Nm
3    400 Nm
4    250 Nm
Name: Max Par, dtype: object

In [67]:
cars_df["Max Par (Nm)"] = pd.to_numeric(cars_df["Max Par"].apply(lambda x: x.split()[0]))

cars_df = cars_df.drop("Max Par", axis=1)

In [68]:
cars_df["Max Par (Nm)"].head()

0    155
1    270
2    340
3    400
4    250
Name: Max Par (Nm), dtype: int64

In [69]:
cars_df.describe()

,Year,Kms,Doors,Vacancies,Gears,Price (€),Boot Capacity (l),Length (cm),Height (cm),Width (cm),...,Max Weight (kg),Max Speed (km/h),Comb Fuel (l),Urban Use (l),Extraurban Use (l),Aceleration 0-100 (s),CO2 Emissions (gr/m3),Output (cv),Cubic Capacity (cm3),Max Par (Nm)
count,85559.000000,8.555900e+04,85559.000000,85559.000000,85559.000000,85559.000000,85559.000000,85559.000000,85559.000000,85559.000000,...,85559.000000,85559.000000,85559.000000,85559.000000,85559.000000,85559.000000,85559.000000,85559.000000,85559.000000,85559.000000
mean,2011.522739,9.338791e+04,4.419442,4.881170,5.815098,17272.469582,327.061750,431.241892,151.256571,179.187005,...,3.806422,168.291869,5.568883,6.955650,4.702000,9.978625,120.317161,141.098996,1902.296637,278.119532
std,5.794361,1.580035e+05,0.914254,0.855655,0.942718,22903.994896,208.046885,76.927781,28.769817,13.598866,...,41.083625,73.110089,2.127965,3.140443,1.552115,3.547698,62.218519,72.879383,692.708045,122.784574
min,1950.000000,0.000000e+00,0.000000,1.000000,1.000000,500.000000,0.000000,0.000000,0.000000,0.000000,...,1.015000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,0.000000,0.000000
25%,2008.000000,1.940500e+04,4.000000,5.000000,5.000000,7200.000000,189.000000,419.000000,144.000000,175.000000,...,1.752000,168.000000,4.300000,5.100000,3.800000,8.600000,103.000000,100.000000,1499.000000,200.000000
50%,2013.000000,7.580400e+04,5.000000,5.000000,6.000000,12500.000000,360.000000,438.000000,148.000000,180.000000,...,1.940000,189.000000,5.100000,6.200000,4.300000,10.500000,119.000000,120.000000,1870.000000,270.000000
75%,2016.000000,1.410000e+05,5.000000,5.000000,6.000000,20000.000000,480.000000,466.000000,163.000000,184.000000,...,2.150000,208.000000,6.300000,8.000000,5.300000,12.000000,149.000000,150.000000,1997.000000,330.000000
max,2018.000000,2.170000e+07,5.000000,14.000000,10.000000,999999.000000,994.000000,822.000000,325.000000,251.000000,...,990.000000,350.000000,22.000000,31.000000,15.100000,62.000000,500.000000,740.000000,8300.000000,1100.000000

Once we have modified the type of these columns, we add two new columns which contains the coordinates of each city.

To create those columns, we are going to use the geopy package. We must install this package before by using the next command in our shell: 'pip install geopy'

In [70]:
from geopy.geocoders import Nominatim

In [71]:
#Now we create a data frame that contains the cities of our dataset whith its coordinates.

locator = Nominatim()
provinces = cars_df["Province"].unique()

coordinates_per_province = []

for province in provinces:
    location = locator.geocode([province])
    coordinates_per_province.append([province, location.latitude, location.longitude])
    
df_provinces = pd.DataFrame(coordinates_per_province, columns=["Province", "Latitude", "Longitude"])

In [72]:
df_provinces.head()

     Province   Latitude  Longitude
0     Madrid   40.416705  -3.703582
1  Barcelona   41.382894   2.177432
2   Valencia   39.469901  -0.375951
3    Caceres   39.474517  -6.371676
4     Murcia   37.992379  -1.130543

Finally, we merge this data frame with the other.

In [73]:
cars_with_coords_df = pd.merge(cars_df, df_provinces, on = 'Province')

In [74]:
cars_with_coords_df.head()

,Title,Brand,Province,Year,Kms,Fuel,Type of Gears,Seller,Guarantee,Colour,...,Comb Fuel (l),Urban Use (l),Extraurban Use (l),Aceleration 0-100 (s),CO2 Emissions (gr/m3),Output (cv),Cubic Capacity (cm3),Max Par (Nm),Latitude,Longitude
0,Peugeot 406 1.8 Sr,Peugeot,Madrid,1998,182000,Gasolina,Manual,Profesional,No,Gris plata,...,9.1,11.9,6.4,12.4,0,112,1761,155,40.416705,-3.703582
1,Audi Q5 3.0tdi Quattro Ambition S-tronic 245,Audi,Madrid,2013,127000,Diesel,Automática secuencial,Profesional,Sí,Rojo,...,6.4,7.1,6.0,6.5,169,245,2967,580,40.416705,-3.703582
2,Toyota Aygo 1.0 Vvt-i Live,Toyota,Madrid,2013,50000,Gasolina,Manual,Profesional,Sí,Blanco,...,4.3,5.1,3.8,14.2,99,68,998,93,40.416705,-3.703582
3,Ford Mondeo 2.0tdci Limited Edition 140,Ford,Madrid,2014,111000,Diesel,Manual,Profesional,Sí,Gris,...,5.3,6.4,4.6,9.5,129,140,1997,320,40.416705,-3.703582
4,Fiat 500 1.2 Pop,Fiat,Madrid,2018,1,Gasolina,Manual,Profesional,Sí,Blanco,...,5.1,6.4,4.3,12.9,115,69,1242,102,40.416705,-3.703582

The next step is adding two more columns to our data frame.

The first one contains the brands rating (score), and the other one contains the type rating (score).

We start adding the first column.

## Brands score processing

We have to rename the columns with the purpose of merging the brands data frame with the final data frame.

In [75]:
brands_rank.rename(columns={'brand': 'Brand', 'score': 'Score'}, inplace=True)

Now, we are going to check if all the brands appears in the final data frame.

In [76]:
len(cars_with_coords_df["Brand"].unique())

71

In [77]:
len(brands_rank)

54

We can see that in the brands data frame there are less different registers. Later, we will decide what we are going to do to solve this problem.

In [78]:
brands_rank["Brand"] = brands_rank["Brand"].apply(lambda b: b.capitalize())

In [79]:
brands_rank.head()

           Brand  Score
0        Ferrari  1,570
1            Bmw  1,365
2  Mercedes-benz  1,295
3           Audi  1,260
4    Lamborghini  1,190

We merge both data frames.

In [80]:
cars_with_coords_df = pd.merge(cars_with_coords_df, brands_rank, on="Brand", how="left")

In [81]:
cars_with_coords_df.head()

,Title,Brand,Province,Year,Kms,Fuel,Type of Gears,Seller,Guarantee,Colour,...,Urban Use (l),Extraurban Use (l),Aceleration 0-100 (s),CO2 Emissions (gr/m3),Output (cv),Cubic Capacity (cm3),Max Par (Nm),Latitude,Longitude,Score
0,Peugeot 406 1.8 Sr,Peugeot,Madrid,1998,182000,Gasolina,Manual,Profesional,No,Gris plata,...,11.9,6.4,12.4,0,112,1761,155,40.416705,-3.703582,430
1,Audi Q5 3.0tdi Quattro Ambition S-tronic 245,Audi,Madrid,2013,127000,Diesel,Automática secuencial,Profesional,Sí,Rojo,...,7.1,6.0,6.5,169,245,2967,580,40.416705,-3.703582,"1,260"
2,Toyota Aygo 1.0 Vvt-i Live,Toyota,Madrid,2013,50000,Gasolina,Manual,Profesional,Sí,Blanco,...,5.1,3.8,14.2,99,68,998,93,40.416705,-3.703582,840
3,Ford Mondeo 2.0tdci Limited Edition 140,Ford,Madrid,2014,111000,Diesel,Manual,Profesional,Sí,Gris,...,6.4,4.6,9.5,129,140,1997,320,40.416705,-3.703582,"1,000"
4,Fiat 500 1.2 Pop,Fiat,Madrid,2018,1,Gasolina,Manual,Profesional,Sí,Blanco,...,6.4,4.3,12.9,115,69,1242,102,40.416705,-3.703582,295

In [82]:
# Rename the column name
cars_with_coords_df.rename(columns={'Score': 'Brand Score'}, inplace=True)

In [83]:
cars_with_coords_df.columns

Index(['Title', 'Brand', 'Province', 'Year', 'Kms', 'Fuel', 'Type of Gears',
       'Seller', 'Guarantee', 'Colour', 'Doors', 'Vacancies', 'Type',
       'Cylinders', 'Gears', 'Transmission', 'Traction', 'Url', 'Price (€)',
       'Boot Capacity (l)', 'Length (cm)', 'Height (cm)', 'Width (cm)',
       'Tank (l)', 'Weight (kg)', 'Max Weight (kg)', 'Max Speed (km/h)',
       'Comb Fuel (l)', 'Urban Use (l)', 'Extraurban Use (l)',
       'Aceleration 0-100 (s)', 'CO2 Emissions (gr/m3)', 'Output (cv)',
       'Cubic Capacity (cm3)', 'Max Par (Nm)', 'Latitude', 'Longitude',
       'Brand Score'],
      dtype='object')

As I said before, we must decide what we do with the problem of the brands. We have decided to put a zero where a NaN value appears.

In [84]:
new_column = []

for val in cars_with_coords_df["Brand Score"]:
    if type(val) == float:
        new_column.append(0)
    else:
        new_column.append(pd.to_numeric(val.replace(",","")))

cars_with_coords_df["Brand Score"] = new_column

In [85]:
cars_with_coords_df["Brand Score"]

0         430
1        1260
2         840
3        1000
4         295
5         400
6         890
7         890
8           0
9           0
10          0
11       1000
12       1000
13       1365
14        400
15       1365
16        630
17        400
18        220
19        295
20        295
21          0
22        840
23        565
24        295
25        295
26          0
27        295
28          0
29        890
         ...
85529     145
85530     840
85531    1260
85532     630
85533       0
85534       0
85535     300
85536     220
85537     890
85538    1000
85539     330
85540    1260
85541     295
85542     565
85543     890
85544    1260
85545       0
85546    1260
85547    1000
85548       0
85549    1365
85550     890
85551     840
85552       0
85553       0
85554       0
85555       0
85556    1000
85557    1260
85558    1260
Name: Brand Score, Length: 85559, dtype: int64

The next step is creating a new column which contains the score of each type of car (Type).

## Types score processing

We start watching the different values of the 'Type' column.

In [86]:
cars_with_coords_df["Type"].unique()

array(['Berlina', 'Todo Terreno', 'Coupe', 'Monovolumen', 'Stationwagon',
       'Convertible', 'Roadster', 'Combi', 'Furgon', 'Chasis',
       'Pick-Up Doble Cabina', 'Pick-Up', 'Bus', 'Targa',
       'Chasis Doble Cabina'], dtype=object)

Now we load the dataset 'type_car_score.csv', which we created manually.

In [87]:
types_score = pd.read_csv("../data/type_car_score.csv", sep=";")

In [88]:
types_score

                    Type  score
0                  Combi    100
1           Todo Terreno    250
2                Berlina    230
3                 Furgon    260
4           Stationwagon    240
5            Convertible    280
6                  Coupe    310
7                 Chasis    120
8            Monovolumen    235
9               Roadster    290
10  Pick-Up Doble Cabina    255
11   Chasis Doble Cabina    160
12               Pick-Up    245
13                 Targa    300
14                   Bus    320

Now, we merge both datasets.

In [89]:
final_df = pd.merge(cars_with_coords_df, types_score, on="Type", how='left')

In [90]:
final_df

,Title,Brand,Province,Year,Kms,Fuel,Type of Gears,Seller,Guarantee,Colour,...,Extraurban Use (l),Aceleration 0-100 (s),CO2 Emissions (gr/m3),Output (cv),Cubic Capacity (cm3),Max Par (Nm),Latitude,Longitude,Brand Score,score
0,Peugeot 406 1.8 Sr,Peugeot,Madrid,1998,182000,Gasolina,Manual,Profesional,No,Gris plata,...,6.4,12.4,0,112,1761,155,40.416705,-3.703582,430,230
1,Audi Q5 3.0tdi Quattro Ambition S-tronic 245,Audi,Madrid,2013,127000,Diesel,Automática secuencial,Profesional,Sí,Rojo,...,6.0,6.5,169,245,2967,580,40.416705,-3.703582,1260,250
2,Toyota Aygo 1.0 Vvt-i Live,Toyota,Madrid,2013,50000,Gasolina,Manual,Profesional,Sí,Blanco,...,3.8,14.2,99,68,998,93,40.416705,-3.703582,840,230
3,Ford Mondeo 2.0tdci Limited Edition 140,Ford,Madrid,2014,111000,Diesel,Manual,Profesional,Sí,Gris,...,4.6,9.5,129,140,1997,320,40.416705,-3.703582,1000,230
4,Fiat 500 1.2 Pop,Fiat,Madrid,2018,1,Gasolina,Manual,Profesional,Sí,Blanco,...,4.3,12.9,115,69,1242,102,40.416705,-3.703582,295,230
5,Opel Astra Gtc 1.9cdti Sport 150,Opel,Madrid,2006,240995,Diesel,Manual,Profesional,No,Negro,...,4.9,8.9,157,150,1910,320,40.416705,-3.703582,400,230
6,Volkswagen Passat 1.9tdi Edition,Volkswagen,Madrid,2002,270850,Diesel,Manual,Profesional,No,Gris,...,4.5,12.4,0,100,1896,250,40.416705,-3.703582,890,230
7,Volkswagen Cc Volkswagen Cc 2.0tdi Bmt Advance...,Volkswagen,Madrid,2014,125000,Diesel,Manual,Profesional,Sí,Blanco,...,4.1,9.8,119,140,1968,320,40.416705,-3.703582,890,310
8,Citroen C4 Picasso 1.6bluehdi S&s Feel Eat6 120,Citroen,Madrid,2015,93450,Diesel,Automática secuencial,Profesional,Sí,Rojo,...,3.5,11.2,100,120,1560,300,40.416705,-3.703582,0,235
9,Citroen C2 1.1i Audace,Citroen,Madrid,2008,56896,Gasolina,Manual,Profesional,Sí,Amarillo,...,4.8,14.4,138,61,1124,94,40.416705,-3.703582,0,230
10,Citroen C4 Picasso 1.6bluehdi S&s Feel Eat6 120,Citroen,Madrid,2015,83483,Diesel,Automática secuencial,Profesional,No,Plata,...,3.5,11.2,100,120,1560,300,40.416705,-3.703582,0,235
11,Ford Mondeo 2.0tdci Limited Edition 140,Ford,Madrid,2014,111000,Diesel,Manual,Profesional,Sí,Gris,...,4.6,9.5,129,140,1997,320,40.416705,-3.703582,1000,230
12,Ford Focus Sb.1.6tdci Trend 115,Ford,Madrid,2014,116000,Diesel,Manual,Profesional,Sí,Rojo,...,3.7,11.1,117,115,1560,285,40.416705,-3.703582,1000,240
13,Bmw Serie 5 525i,Bmw,Madrid,2006,148952,Gasolina,Manual,Profesional,Sí,Plateado,...,6.5,7.5,210,218,2497,250,40.416705,-3.703582,1365,230
14,Opel Zafira Tourer 2.0cdti Excellence 165,Opel,Madrid,2012,61000,Diesel,Manual,Profesional,Sí,Negro,...,4.6,9.8,139,165,1956,350,40.416705,-3.703582,400,235
15,Bmw Serie 3 320d,Bmw,Madrid,2009,93,Diesel,Manual,Profesional,Sí,Azul,...,4.1,7.9,125,177,1995,350,40.416705,-3.703582,1365,230
16,Seat León 2.0tdi Cr S&s Style 150,Seat,Madrid,2017,18838,Diesel,Manual,Profesional,No,Azul,...,3.8,8.4,110,150,1968,340,40.416705,-3.703582,630,230
17,Opel Astra Gtc 1.6 Enjoy,Opel,Madrid,2007,217491,Gasolina,Manual,Profesional,No,Negro,...,5.4,12.2,158,105,1598,150,40.416705,-3.703582,400,230
18,Hyundai I30 I30 1.4 Essence,Hyundai,Madrid,2014,95000,Gasolina,Manual,Profesional,Sí,Blanco,...,4.9,12.8,139,100,1396,137,40.416705,-3.703582,220,230
19,Fiat 500l 500l 1.4 T-jet Glp Pop Star,Fiat,Madrid,2018,1,Gasolina,Manual,Profesional,Sí,Azul,...,5.4,10.6,140,120,1368,215,40.416705,-3.703582,295,235
20,Fiat 500l 500l 1.4 Pop Star,Fiat,Madrid,2018,1,Gasolina,Manual,Profesional,Sí,Blanco,...,5.0,12.8,143,95,1368,127,40.416705,-3.703582,295,235
21,Abarth 595 Abarth 695 1.4t-jet Rivale 132kw,Abarth,Madrid,2018,1,Gasolina,Manual,Profesional,Sí,Plata,...,4.9,6.7,139,180,1368,250,40.416705,-3.703582,0,230
22,Toyota Gt86 Gt86 Aut.,Toyota,Madrid,2015,64000,Gasolina,Automática secuencial,Profesional,Sí,Naranja,...,5.7,8.2,164,200,1998,205,40.416705,-3.703582,840,310
23,Renault Mégane C.c. 1.5dci Dynamique,Renault,Madrid,2013,108000,Diesel,Manual,Profesional,Sí,Azul,...,4.4,11.8,133,110,1461,240,40.416705,-3.703582,565,280
24,Fiat Tipo 1.4 T-jet Lounge,Fiat,Madrid,2018,1,Gasolina,Manual,Profesional,Sí,Rojo,...,6.5,10.1,139,120,1368,215,40.416705,-3.703582,295,230
25,Fiat Tipo 1.4 T-jet Gasolina-glp Lounge,Fiat,Madrid,2018,1,Gasolina,Manual,Profesional,Sí,Beige,...,6.5,10.1,135,120,1368,215,40.416705,-3.703582,295,230
26,Abarth 124 Spider Abarth 1.4 Aut.,Abarth,Madrid,2018,1,Gasolina,Automática secuencial,Profesional,Sí,Negro,...,5.2,6.9,153,170,1368,250,40.416705,-3.703582,0,290
27,Fiat 124 Spider 1.4 Multiair,Fiat,Madrid,2018,1,Gasolina,Manual,Profesional,Sí,Rojo,...,5.1,7.5,148,140,1368,240,40.416705,-3.703582,295,290
28,Honda Accord 2.2 I-ctdi Executive,Honda,Madrid,2005,261763,Diesel,Manual,Profesional,No,Gris,...,4.5,9.4,0,140,2204,340,40.416705,-3.703582,0,230
29,Volkswagen Golf 1.4 Tsi Sportline 140,Volkswagen,Madrid,2007,114293,Gasolina,Manual,Profesional,No,Gris,...,5.7,8.8,165,140,1390,240,40.416705,-3.703582,890,230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85529,Daewoo Tacuma 2.0 Cdx,Daewoo,Ceuta,2003,42960,Gasolina,Manual,Particular,No,Plata,...,7.2,12.0,0,120,1998,0,35.888361,-5.304138,145,235
85530,Toyota Land Cruiser Lj 73 250 Td,Toyota,Ceuta,1993,166000,Diesel,Manual,Particular,No,Negro,...,0.0,0.0,0,90,2446,0,35.888361,-5.304138,840,250
85531,Audi A4 1.9tdi,Audi,Ceuta,1997,175000,Diesel,Manual,Particular,No,Plata,...,4.0,11.3,0,110,1898,225,35.888361,-5.304138,1260,230
85532,Seat León 1.6tdi Cr Style Copa,Seat,Ceuta,2012,120000,Diesel,Manual,Particular,No,Rojo,...,3.9,11.7,119,105,1598,250,35.888361,-5.304138,630,230
85533,Land Rover Range Rover Sport 3.6tdv8 Hse Aut.,Land,Ceuta,2007,115000,Diesel,Automática,Particular,No,Azul,...,9.0,9.2,294,272,3628,640,35.888361,-5.304138,0,250
85534,Mercedes Clase M Ml 400cdi,Mercedes,Ceuta,2003,122000,Diesel,Automática,Particular,No,Negro,...,6.5,7.8,0,250,3996,560,35.888361,-5.304138,0,250
85535,Nissan Qashqai 1.5dci 360 4x2,Nissan,Ceuta,2015,30000,Diesel,Manual,Particular,No,Negro,...,3.6,11.9,103,110,1461,260,35.888361,-5.304138,300,250
85536,Hyundai Tucson 2.0crdi Comfort,Hyundai,Ceuta,2005,70000,Diesel,Manual,Particular,No,Gris,...,5.9,13.8,187,112,1991,152,35.888361,-5.304138,220,250
85537,Volkswagen Golf 2.0tdi Highline,Volkswagen,Ceuta,2004,252513,Diesel,Automática,Particular,No,Plata,...,4.7,9.3,145,140,1968,320,35.888361,-5.304138,890,230
85538,Ford Focus 1.6 Ti-vct Trend,Ford,Ceuta,2008,55000,Gasolina,Manual,Particular,No,Plata,...,5.4,10.8,157,115,1596,157,35.888361,-5.304138,1000,230
85539,Volvo 940 2.3 Gle Abs - Royal,Volvo,Ceuta,1994,265000,Gasolina,Manual,Particular,No,Verde,...,8.3,10.9,0,130,2316,185,35.888361,-5.304138,330,230
85540,Audi A4 2.5tdi,Audi,Ceuta,2006,260000,Diesel,Manual,Particular,No,Plata,...,5.3,8.8,184,163,2496,350,35.888361,-5.304138,1260,230
85541,Fiat Marea 1.9 Td 100 Elx,Fiat,Ceuta,1997,100000,Diesel,Manual,Particular,No,Azul,...,4.6,11.1,0,100,1910,200,35.888361,-5.304138,295,230
85542,Renault Laguna 2.2d Anade,Renault,Ceuta,1998,300000,Diesel,Manual,Particular,No,Verde,...,4.9,13.2,0,85,2188,142,35.888361,-5.304138,565,230
85543,Volkswagen Touran 1.6tdi Advance 105,Volkswagen,Ceuta,2011,155000,Diesel,Manual,Particular,No,Plata,...,4.5,12.8,134,105,1598,250,35.888361,-5.304138,890,235
85544,Audi A4 1.8t,Audi,Melilla,2001,180000,Gasolina,Manual,Particular,No,Blanco,...,6.4,8.9,0,150,1781,210,35.291870,-2.940903,1260,230
85545,Citroen Xsara 2.0i 16v Exclusive,Citroen,Melilla,2004,120000,Gasolina,Manual,Particular,No,Gris,...,5.6,9.6,0,138,1998,190,35.291870,-2.940903,0,230
85546,Audi Q7 3.0tdi Quattro Tiptronic,Audi,Melilla,2006,141000,Diesel,Automática secuencial,Particular,No,Negro,...,8.3,9.1,279,233,2967,500,35.291870,-2.940903,1260,250
85547,Ford Ranger 2.2tdci Dcb. Xlt 4x4,Ford,Melilla,2013,29000,Diesel,Manual,Particular,No,Rojo,...,7.7,0.0,224,150,2198,375,35.291870,-2.940903,1000,255
85548,Mercedes Clase C C 220 Cdi Elegance,Mercedes,Melilla,1998,162500,Diesel,Manual,Particular,No,Plata,...,5.3,10.5,0,125,2151,300,35.291870,-2.940903,0,230
85549,Bmw Serie 3 325i Cabrio,Bmw,Melilla,2009,125000,Gasolina,Manual,Particular,No,Negro,...,5.9,7.6,176,218,2996,270,35.291870,-2.940903,1365,280
85550,Volkswagen Caddy 1.9tdi Life,Volkswagen,Melilla,2005,200000,Diesel,Manual,Particular,No,Plata,...,5.2,13.3,159,105,1896,250,35.291870,-2.940903,890,100
85551,Toyota Land Cruiser D-4d Vxl,Toyota,Melilla,2008,164000,Diesel,Manual,Particular,No,Negro,...,7.9,11.5,244,173,2982,410,35.291870,-2.940903,840,250
85552,Mercedes Clase E E 300 D Avantgarde,Mercedes,Melilla,1995,320077,Diesel,Automática,Particular,No,Plata,...,6.7,13.0,0,136,2996,210,35.291870,-2.940903,0,230
85553,Mercedes Clase E E 300 Diesel,Mercedes,Melilla,1995,320122,Diesel,Automática,Particular,No,Plata,...,0.0,12.8,0,136,2996,210,35.291870,-2.940903,0,230
85554,Mercedes Clase C C 220cdi Avantgarde,Mercedes,Melilla,2008,240009,Diesel,Manual,Particular,No,Rojo,...,4.7,8.5,156,170,2148,400,35.291870,-2.940903,0,230
85555,Mercedes Clase A A 140 Avantgarde,Mercedes,Melilla,1997,196000,Gasolina,Automática,Particular,No,Verde,...,4.7,12.9,0,82,1397,130,35.291870,-2.940903,0,230
85556,Ford Ranger 2.2tdci Dcb. Xlt 4x4,Ford,Melilla,2012,29000,Diesel,Manual,Particular,No,Rojo,...,7.7,0.0,224,150,2198,375,35.291870,-2.940903,1000,255
85557,Audi A4 2.0tdi,Audi,Melilla,2007,98000,Diesel,Manual,Particular,No,Azul osuro,...,4.5,9.7,151,140,1968,320,35.291870,-2.940903,1260,230
85558,Audi A4 2.0tdi,Audi,Melilla,2007,195000,Diesel,Manual,Particular,No,Plata,...,4.5,9.7,151,140,1968,320,35.291870,-2.940903,1260,230

We can see that our new column is called 'score'. The name we want is 'Type Score' so we are going to change the name.

In [91]:
final_df.rename(columns={'score': 'Type Score'}, inplace=True)

In [92]:
final_df.head()

,Title,Brand,Province,Year,Kms,Fuel,Type of Gears,Seller,Guarantee,Colour,...,Extraurban Use (l),Aceleration 0-100 (s),CO2 Emissions (gr/m3),Output (cv),Cubic Capacity (cm3),Max Par (Nm),Latitude,Longitude,Brand Score,Type Score
0,Peugeot 406 1.8 Sr,Peugeot,Madrid,1998,182000,Gasolina,Manual,Profesional,No,Gris plata,...,6.4,12.4,0,112,1761,155,40.416705,-3.703582,430,230
1,Audi Q5 3.0tdi Quattro Ambition S-tronic 245,Audi,Madrid,2013,127000,Diesel,Automática secuencial,Profesional,Sí,Rojo,...,6.0,6.5,169,245,2967,580,40.416705,-3.703582,1260,250
2,Toyota Aygo 1.0 Vvt-i Live,Toyota,Madrid,2013,50000,Gasolina,Manual,Profesional,Sí,Blanco,...,3.8,14.2,99,68,998,93,40.416705,-3.703582,840,230
3,Ford Mondeo 2.0tdci Limited Edition 140,Ford,Madrid,2014,111000,Diesel,Manual,Profesional,Sí,Gris,...,4.6,9.5,129,140,1997,320,40.416705,-3.703582,1000,230
4,Fiat 500 1.2 Pop,Fiat,Madrid,2018,1,Gasolina,Manual,Profesional,Sí,Blanco,...,4.3,12.9,115,69,1242,102,40.416705,-3.703582,295,230

Once we have the final data frame, we have to import the information to a new csv file.

In [93]:
final_df.to_csv("../web/static/data/cars_information.csv", index=False)

This is the end of the cleaning process.

Our next step is creating a Flask application which is going to show us the results of the recommender algorithm.